@{
    Layout = null;
    ViewData["Title"] = "Signin to Your Account";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <title>@ViewData["Title"]</title>
</head>
<body class="min-h-screen bg-white flex">
    @await Html.PartialAsync("Login/_ContentLeft")
    @await Html.PartialAsync("Login/_ContentRight")
    
    <script>
        lucide.createIcons();
    </script>
</body>
</html>