<div class="mt-6 border border-gray-300 bg-white rounded-xl p-5">
    <h1 class="mb-3 font-semibold text-lg">Data User</h1>
    <div class="relative overflow-x-auto sm:rounded-lg">
        <table class="w-full text-sm text-left">
            <thead class="text-md text-gray-700 uppercase border-b border-gray-200">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Image
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Joining Date
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-md">
                    <td class="px-6 py-4">
                        <img 
                            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTsmcBGBK53A9NHzfHIsBK0UX5TAhlceYXiPTEntCrtRrf3ZuR5" 
                            alt="Image User"
                            class="w-12 h-12 rounded-full object-cover"
                        >
                    </td>
                    <td class="px-6 py-4">
                        Muhammad Khairul Kholqi
                    </td>
                    <td class="px-6 py-4">
                        khairulkholqi@gmail.com
                    </td>
                    <td class="px-6 py-4">
                        31 Januari 2025
                    </td>
                </tr>
                <tr class="text-md">
                    <td class="px-6 py-4">
                        <img 
                            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTsmcBGBK53A9NHzfHIsBK0UX5TAhlceYXiPTEntCrtRrf3ZuR5" 
                            alt="Image User"
                            class="w-12 h-12 rounded-full object-cover"
                        >
                    </td>
                    <td class="px-6 py-4">
                        Muhammad Khairul Kholqi
                    </td>
                    <td class="px-6 py-4">
                        khairulkholqi@gmail.com
                    </td>
                    <td class="px-6 py-4">
                        31 Januari 2025
                    </td>
                </tr>
                <tr class="text-md">
                    <td class="px-6 py-4">
                        <img 
                            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTsmcBGBK53A9NHzfHIsBK0UX5TAhlceYXiPTEntCrtRrf3ZuR5" 
                            alt="Image User"
                            class="w-12 h-12 rounded-full object-cover"
                        >
                    </td>
                    <td class="px-6 py-4">
                        Muhammad Khairul Kholqi
                    </td>
                    <td class="px-6 py-4">
                        khairulkholqi@gmail.com
                    </td>
                    <td class="px-6 py-4">
                        31 Januari 2025
                    </td>
                </tr>
                <tr class="text-md">
                    <td class="px-6 py-4">
                        <img 
                            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTsmcBGBK53A9NHzfHIsBK0UX5TAhlceYXiPTEntCrtRrf3ZuR5" 
                            alt="Image User"
                            class="w-12 h-12 rounded-full object-cover"
                        >
                    </td>
                    <td class="px-6 py-4">
                        Muhammad Khairul Kholqi
                    </td>
                    <td class="px-6 py-4">
                        khairulkholqi@gmail.com
                    </td>
                    <td class="px-6 py-4">
                        31 Januari 2025
                    </td>
                </tr>
                <tr class="text-md">
                    <td class="px-6 py-4">
                        <img 
                            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTsmcBGBK53A9NHzfHIsBK0UX5TAhlceYXiPTEntCrtRrf3ZuR5" 
                            alt="Image User"
                            class="w-12 h-12 rounded-full object-cover"
                        >
                    </td>
                    <td class="px-6 py-4">
                        Muhammad Khairul Kholqi
                    </td>
                    <td class="px-6 py-4">
                        khairulkholqi@gmail.com
                    </td>
                    <td class="px-6 py-4">
                        31 Januari 2025
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>